{% extends "base_account.html" %}
{% block page_title %}بازنشانی رمز عبور | {{block.super}}{% endblock page_title %}بازنشانی رمز عبور
{% block form_title %}<span class="text-base">بازنشانی رمز عبور</span>{% endblock form_title %}
{% block base_content %}
        <p class='mt-3 block text-sm/8 font-DanaMedium text-gray-500 dark:text-gray-300'>
          لینک بازنشانی به ایمیل شما ارسال خواهد شد.
        </p>

        <div class="relative mt-2">
          {{form.email}}
          <label for="{{form.email.id_for_label}}"
                class="absolute top-3 right-3 z-10 cursor-text text-gray-400 transition-all duration-200
                        peer-focus:-top-2 peer-focus:right-2 peer-focus:rounded-md peer-focus:bg-white peer-focus:px-1 peer-focus:text-xs peer-focus:font-medium peer-focus:text-blue-500 dark:peer-focus:bg-gray-800
                        peer-[:not(:placeholder-shown)]:-top-2 peer-[:not(:placeholder-shown)]:right-2 peer-[:not(:placeholder-shown)]:rounded-md peer-[:not(:placeholder-shown)]:bg-white peer-[:not(:placeholder-shown)]:px-1 peer-[:not(:placeholder-shown)]:text-xs peer-[:not(:placeholder-shown)]:font-medium peer-[:not(:placeholder-shown)]:text-gray-600 dark:peer-[:not(:placeholder-shown)]:text-gray-300 dark:peer-[:not(:placeholder-shown)]:bg-gray-800">
            ایمیل
          </label>
        </div>
        {% for error in form.email.errors %}
            <p class="mt-2 text-sm text-red-600">{{ error }}</p>
        {% endfor %}
        </div>
        <div class="mt-4">
          <button class="submit-btn">درخواست بازنشانی</button>
        </div>
      </form>
      <div class="text-right mt-4">
        <a href="{% url 'account_login' %}" class="text-sm font-medium text-blue-500 hover:underline">
          بازگشت به صفحه ورود
        </a>
      </div>
      
    </div>
    </div>
  </div>
</section>
{% endblock base_content %}