.git
.gitignore

.env
.env.*
!.env.example

.dockerignore
Dockerfile
docker-compose.yml

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

venv/
env/
.venv/
.env/
**/venv
**/.venv

*.egg-info/
build/
dist/
wheels/
pip-wheel-metadata/

*.sqlite3
db.sqlite3

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.log
logs/

node_modules/
**/node_modules