.env
.env.*
!.env.example
venv/
env/
.venv/
.env/


__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.coverage


staticfiles/
static_root/


media/*
media_root/
!/media/.gitkeep


*.log
logs/


.idea/
.vscode/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db


build/
dist/
*.egg-info/

/static/css/output.css
/staticfiles/

/node_modules/

*.mo
templates/
js/
css/
src/