.env
.env.*
!.env.example
venv/
env/
.venv/
.env/


__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.coverage


staticfiles/
static_root/


media/*
media_root/


*.log
logs/


.idea/
.vscode/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db


build/
dist/
*.egg-info/

/static/css/output.css
/staticfiles/

/node_modules/

*.mo

cart/templates/cart
products/templates/products
core/templates/core
templates/partials
templates/_base.html
templates/base_account.html
js/
css/
src/
