services:
  web:
    image: app:django
    command: python manage.py runserver 0.0.0.0:8000
    build: .
    volumes:
      - .:/app
      
      - D:\master_folder\templates\cart:/app/cart/templates/cart:ro
      - D:\master_folder\templates\products:/app/products/templates/products:ro
      - D:\master_folder\templates\core:/app/core/templates/core:ro

      - D:\master_folder\templates\_base.html:/app/templates/_base.html:ro
      - D:\master_folder\templates\base_account.html:/app/templates/base_account.html:ro
      - D:\master_folder\templates\partials:/app/templates/partials:ro
      - D:\master_folder\templates\account:/app/templates/account:ro

      - D:\master_folder\static\js:/app/static/js
      - D:\master_folder\static\src:/app/static/src

      - D:\master_folder\static\core\js:/app/core/static/core/js
      - D:\master_folder\static\products\js:/app/products/static/products/js
    ports: 
      - 8000:8000
    depends_on:
      - db
    env_file:
      - ./.env
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
    driver: local