{% load static %}
<footer class="mx-4 md:container md:mx-auto my-12">
    <div class="relative w-full bg-gray-900 dark:bg-gray-800 text-white rounded-2xl p-5 lg:p-9">
        <div class="flex flex-col gap-y-10 lg:flex-row lg:flex-wrap lg:gap-x-10 items-start">
            <div class="w-full lg:flex-[2]">
                <h2 class="footer_title text-lg font-DanaDemiBold mb-3">درباره کارین شاپ</h2>
                <p class="leading-7 text-sm text-gray-400 mb-5 text-justify">
                    در فروشگاه آنلاین ما، بهترین مدل‌های موبایل و لپ‌تاپ از
                    برندهای معتبر جهانی را با کیفیت بالا و قیمتی مناسب برای شما فراهم آورده‌ایم. با انتخاب محصولات
                    ما، تجربه‌ای حرفه‌ای و لذت‌بخش از فناوری را در خانه یا محل کار داشته باشید.
                </p>
                <div class="flex items-center gap-x-3">
                    <a href="#"
                       class="size-10 bg-gray-950 rounded-xl flex-center hover:bg-blue-600 transition-colors">
                        <svg class="size-5 text-blue-500 hover:text-white">
                            <use href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="#"
                       class="size-10 bg-gray-950 rounded-xl flex-center hover:bg-blue-600 transition-colors">
                        <svg class="size-5 text-blue-500 hover:text-white">
                            <use href="#whatsapp"></use>
                        </svg>
                    </a>
                    <a href="#"
                       class="size-10 bg-gray-950 rounded-xl flex-center hover:bg-blue-600 transition-colors">
                        <svg class="size-5 text-blue-500 hover:text-white">
                            <use href="#linkedin"></use>
                        </svg>
                    </a>
                    <a href="#"
                       class="size-10 bg-gray-950 rounded-xl flex-center hover:bg-blue-600 transition-colors">
                        <svg class="size-5 text-blue-500 hover:text-white">
                            <use href="#youtube"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="w-full lg:flex-1">
                <h2 class="footer_title text-lg font-DanaDemiBold mb-4">دسترسی سریع</h2>
                <div class="grid grid-cols-2 gap-x-6 gap-y-2 text-sm text-gray-400 child-hover:text-blue-500 child:transition-colors">
                    <a href="{% url 'homepage' %}">صفحه اصلی</a>
                    <a href="{% url 'account_login' %}" class="md:hidden">ثبت نام | ورود</a>
                    <a href="{% url 'products:shop' %}">فروشگاه</a>
                    <a href="#" class="md:hidden">وبلاگ</a>
                    <a href="{% url 'contact' %}">تماس با ما</a>
                    <a href="#" class="md:hidden">شرایط و قوانین</a>
                    <a href="{% url 'questions' %}">سوالات متداول</a>
                    <a href="#" class="md:hidden">حریم خصوصی</a>
                </div>
            </div>
            <div class="w-full lg:flex-[1.5]">
                <h2 class="footer_title text-lg font-DanaDemiBold mb-4">تماس با ما</h2>
                <div class="flex flex-col gap-y-4 text-sm text-gray-400">
                    <div class="flex items-center justify-between sm:justify-start sm:gap-x-3">
                        <span>شماره تماس :</span>
                        <span dir="ltr" class="font-Dana text-gray-200">012-345 678</span>
                    </div>
                    <div class="flex items-center justify-between sm:justify-start sm:gap-x-3">
                        <span>آدرس ایمیل :</span>
                        <span class="font-Dana text-gray-200">KarinShop@gmail.com</span>
                    </div>
                    <div class="flex flex-col sm:flex-row sm:items-center gap-1 sm:gap-x-3">
                        <span class="shrink-0">آدرس :</span>
                        <span class="text-gray-200 leading-6">بلوار آزادی، استاد معین پلاک ۱۰</span>
                    </div>
                </div>
            </div>
            <div class="w-full lg:flex-1 flex flex-col items-center lg:items-end justify-center gap-y-6">
                <div class="flex items-center gap-x-3">
                    <span class="w-16 h-16 lg:w-20 lg:h-20 flex-center rounded-xl bg-gray-950 dark:bg-gray-900 p-2">
                        <img class="w-full h-full object-contain"
                             src="{% static './images/footer/1.png' %}"
                             alt="">
                    </span>
                    <span class="w-16 h-16 lg:w-20 lg:h-20 flex-center rounded-xl bg-gray-950 dark:bg-gray-900 p-2">
                        <img class="w-full h-full object-contain"
                             src="{% static './images/footer/2.png' %}"
                             alt="">
                    </span>
                </div>
                <a href="#"
                   class="ring-1 ring-gray-600 hover:ring-blue-500 text-gray-300 hover:text-white w-36 rounded-xl text-xs flex-center gap-x-2 py-2 px-3 transition-colors">
                    بازگشت به بالا
                    <svg class="size-4 rotate-180">
                        <use href="#chevron" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="w-full rounded-xl bg-gray-950 dark:bg-gray-900 flex flex-col md:flex-row gap-4 items-center justify-between p-4 md:p-5 mt-8">
            <a href="#" class="text-2xl font-MorabbaMedium">
                <span class="text-blue-500">کارین</span> شاپ
            </a>
            <div class="bg-gray-900 dark:bg-gray-800 p-1.5 rounded-xl w-full sm:w-80 lg:w-[350px] flex items-center justify-between">
                <input type="email"
                       class="bg-transparent text-gray-200 px-3 w-full text-xs sm:text-sm focus:outline-none"
                       placeholder="از جدیدترین تخفیف‌ها باخبر شوید" />
                <button class="px-4 py-1.5 bg-blue-500 hover:bg-blue-600 text-white rounded-lg text-xs sm:text-sm font-DanaMedium transition-colors shrink-0">
                    ثبت
                </button>
            </div>
        </div>
    </div>
    <p class="text-center text-xs sm:text-sm my-4 text-gray-400 font-Dana">Copyright © 2026 Karin. All rights reserved.</p>
</footer>
