name: Django CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: 'pip'        

      - name: Install Dependencies for Linting
        run: |
          pip install flake8

      - name: Run Linting (Flake8)
        working-directory: ./backend
        run: |
          flake8 .

      - name: Create .env file for testing
        run: |
          echo "DEBUG=False" >> .env
          echo "SECRET_KEY=test-key" >> .env
          echo "POSTGRES_DB=db" >> .env
          echo "POSTGRES_USER=postgres" >> .env
          echo "POSTGRES_PASSWORD=postgres" >> .env
          echo "POSTGRES_HOST=db-test" >> .env
          echo "POSTGRES_PORT=5432" >> .env
          echo "DATABASE_URL=postgres://postgres:postgres@db:5432/test_db" >> .env
      
      - name: Build and Run Tests
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        run: |
          docker compose -f docker-compose.prod.yml -f docker-compose.test.yml up --build --exit-code-from web
      - name: Cleanup
        if: always()
        run: docker compose -f docker-compose.prod.yml -f docker-compose.test.yml down -v

  build-and-push:
    needs: test
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/django-backend:v1, ${{ secrets.DOCKERHUB_USERNAME }}/django-backend:${{ github.sha }}
  
  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/KarinShop
            docker-compose pull
            docker-compose up -d
            docker image prune -f